<a href="https://colab.research.google.com/github/ravidipu90/ML_DL-Assignments/blob/main/Grammatical_Error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from textblob import TextBlob
import re
from gensim.parsing.preprocessing import remove_stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Preprocessing for train data

In [ ]:
df = pd.read_csv(r"C:\Users\Rahul\Desktop\train_data.csv")
df.head()

FileNotFoundError: ignored

# Spelling Correction in a sentence

In [ ]:
def correct_sentence_spelling(sentence):

    sentence = TextBlob(sentence)

    result = sentence.correct()

    return result

In [ ]:
def correct_sentence_spelling(sentence):

    sentence = TextBlob(sentence)

    result = sentence.correct()

    return result

<ipython-input-107-59205ad1826c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['input'][i] = str(correct_sentence)

Spelling Correction is done!!!

# Removing Punctuation

In [ ]:
for i in range(len(df['input'])):
    my_string = df['input'][i]
    op_string = re.sub(r'[^\w\s]','',my_string)
    df['input'][i] = op_string

<ipython-input-108-8e230a66f4e1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['input'][i] = op_string

In [ ]:
df.head()

                                               input  labels
0       I am reading score of Adler is Symphony To         0
1  I am not interested in cars or electric applia...       1
2           His is my homework for my English class        0
3  In comparison  Canada is catches increased and...       0
4  Fortunately  my older sister is friend is a de...       1

# Removing stopwords

In [ ]:
for i in range(len(df['input'])):
    text = df['input'][i]
    filtered_sentence = remove_stopwords(text)
    df['input'][i] = filtered_sentence

df.head()

<ipython-input-110-eb757c7e4391>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['input'][i] = filtered_sentence

                                               input  labels
0                  I reading score Adler Symphony To       0
1              I interested cars electric appliances       1
2                         His homework English class       0
3  In comparison Canada catches increased decreas...       0
4            Fortunately older sister friend dentist       1

# Perform Stemming

In [ ]:
ps = PorterStemmer()
for i in range(len(df['input'])):
    sentence = df['input'][i]
    words = word_tokenize(sentence)
    stemmed_sentence=""
    for w in words:
        stemmed_sentence += ps.stem(w)+" "
    df['input'][i] = stemmed_sentence

df.head()

<ipython-input-111-ee06993d454a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['input'][i] = stemmed_sentence

                                               input  labels
0                    i read score adler symphoni to        0
1                    i interest car electr applianc        1
2                         hi homework english class        0
3  in comparison canada catch increas decreas ste...       0
4                fortun older sister friend dentist        1

In [ ]:
df.to_csv(r"C:\Users\Rahul\Desktop\Train_Data_New.csv", index=False)

Word Embedding.

# Preprocessing for Validation data

In [ ]:
df2 = pd.read_csv(r"C:\Users\Rahul\Desktop\val_data.csv")
df2.head()

                                               input  labels
0                            It was the same thing .       0
1                          I can study idioms a lot        1
2      I just bet some coins for numbers or colors .       0
3  Yesterday , I was checking some e - mails on b...       1
4  I regret that I have not played the piano very...       1

# Spelling correction

In [ ]:
for i in range(len(df2['input'])):
    correct_sentence = correct_sentence_spelling(df2['input'][i])
    df2['input'][i] = str(correct_sentence)

print("Spelling Correction is done!!!")

<ipython-input-93-3f7c9ba7cded>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['input'][i] = str(correct_sentence)

Spelling Correction is done!!!

# Removing Punctuation

In [ ]:
for i in range(len(df2['input'])):
    my_string = df2['input'][i]
    op_string = re.sub(r'[^\w\s]','',my_string)
    df2['input'][i] = op_string

df2.head()

<ipython-input-94-a5cfed1cd881>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['input'][i] = op_string

                                               input  labels
0                             It was the same thing        0
1                          I can study idioms a lot        1
2       I just bet some coins for numbers or colors        0
3  Yesterday  I was checking some e  mails on bus...       1
4  I regret that I have not played the piano very...       1

# Removing Stopwords

In [ ]:
for i in range(len(df2['input'])):
    text = df2['input'][i]
    filtered_sentence = remove_stopwords(text)
    df2['input'][i] = filtered_sentence

df2.head()

<ipython-input-95-66102b0d5710>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['input'][i] = filtered_sentence

                                               input  labels
0                                           It thing       0
1                                 I study idioms lot       1
2                         I bet coins numbers colors       0
3  Yesterday I checking e mails business matters ...       1
4                      I regret I played piano weeks       1

# Perform stemming

In [ ]:
ps = PorterStemmer()
for i in range(len(df2['input'])):
    sentence = df2['input'][i]
    words = word_tokenize(sentence)
    stemmed_sentence=""
    for w in words:
        stemmed_sentence += ps.stem(w)+" "
    df2['input'][i] = stemmed_sentence

df2.head()

<ipython-input-96-dfcadee1e82b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['input'][i] = stemmed_sentence

                                               input  labels
0                                          it thing        0
1                                 i studi idiom lot        1
2                           i bet coin number color        0
3  yesterday i check e mail busi matter lawton ho...       1
4                        i regret i play piano week        1

In [ ]:
df2.to_csv(r"C:\Users\Rahul\Desktop\Val_Data_New.csv", index=False)

# Preprocessing for test data

In [ ]:
df3 = pd.read_csv(r"C:\Users\Rahul\Desktop\test_data.csv")
df3.head()

                                               input
0  I believe they will master Japanese soon becau...
1                              I am looking for it .
2  Apple is a round fruit with smooth and colorfu...
3                              Let It Will Be Push .
4                  I rode on this ship from Sendai .

# Spelling Correction

In [ ]:
for i in range(len(df3['input'])):
    correct_sentence = correct_sentence_spelling(df3['input'][i])
    df3['input'][i] = str(correct_sentence)

print("Spelling Correction is done!!!")

Spelling Correction is done!!!

# Removing Punctuation

In [ ]:
for i in range(len(df3['input'])):
    my_string = df3['input'][i]
    op_string = re.sub(r'[^\w\s]','',my_string)
    df3['input'][i] = op_string

df3.head()

                                               input
0  I believe they will master Japanese soon becau...
1                               I am looking for it
2  Apple is a round fruit with smooth and colourf...
3                               Met It Will He Rush
4                   I rode on this ship from Sendai

# Removing Stopwords

In [ ]:
for i in range(len(df3['input'])):
    text = df3['input'][i]
    filtered_sentence = remove_stopwords(text)
    df3['input'][i] = filtered_sentence

df3.head()

                                               input
0  I believe master Japanese soon selected schola...
1                                          I looking
2  Apple round fruit smooth colourful skin red gr...
3                                Met It Will He Rush
4                                 I rode ship Sendai

# Perform Stemming

In [ ]:
ps = PorterStemmer()
for i in range(len(df3['input'])):
    sentence = df3['input'][i]
    words = word_tokenize(sentence)
    stemmed_sentence=""
    for w in words:
        stemmed_sentence += ps.stem(w)+" "
    df3['input'][i] = stemmed_sentence

df3.head()

                                               input
0  i believ master japanes soon select scholarshi...
1                                            i look
2  appl round fruit smooth colour skin red green ...
3                               met it will he rush
4                                i rode ship sendai

In [ ]:
df3.to_csv(r"C:\Users\Rahul\Desktop\Test_Data_New.csv", index=False)